name: OSV-Scanner PR Scan

on:
  pull_request:

permissions:
  actions: read
  security-events: write
  contents: read

jobs:
  scan-pr:
    uses: google/osv-scanner-action/.github/workflows/osv-scanner-reusable-pr.yml@v2.3.0
    with:
      upload-sarif: false
      fail-on-vuln: true
